:root {
    --roboto-family:  "Roboto", sans-serif;
    --ubuntu-family:  "Ubuntu Mono", monospace;
    --font-wg-normal: 100;  
    --font-wg-weight-md: 300;
    --font-wg-weight-lg: 400;
    --font-wg-weight-xlg: 500;
    --font-wg-weight-xxlg: 700;
    --font-style-normal: normal;
    --font-italic:  italic;
    --color-light-mono: #e7e4e4;
    --color-dark-mono: #2d2d2d;
    --color-darker-mono: #808080;
    --back-ground: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
}

body{
    margin: 0;
    padding: 0;
    background: var(--back-ground)
}

h1 {
    font-family: var(--roboto-family);
    color: var(--color-dark-mono);
}

.roman {
    font-family: var(--roboto-family);
    font-size: 11rem;
    color: var(--color-light-mono);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input, button {
    font-family: var(--ubuntu-family);
    font-size: 2rem;
    text-align: center;
    border: none;
    margin: 0.2em;
    color: #757575;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* max-width: 500px; */
    /* flex-direction: column; */
}

.mini-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    margin: 2em;
}

/* hide arrow on numbers input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}