:root {
    --roboto-family:  "Roboto", sans-serif;
    --ubuntu-family:  "Ubuntu Mono", monospace;
    --font-wg-normal: 100;  
    --font-wg-weight-md: 300;
    --font-wg-weight-lg: 400;
    --font-wg-weight-xlg: 500;
    --font-wg-weight-xxlg: 700;
    --font-style-normal: normal;
    --font-italic:  italic;
    --color-light-mono: #e7e4e4;
    --color-dark-mono: #b4b1b1;
    --color-darker-mono: #808080;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-light-mono);
}

h1 {
    font-family: var(--roboto-family);
}

.roman {
    font-family: var(--roboto-family);
    font-size: 10rem;
    color: var(--color-darker-mono);
}

input, button {
    font-family: var(--ubuntu-family);
    font-size: 2rem;
    text-align: center;
    border: none;
    margin: 0.2em;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    
    /* max-width: 500px; */
    /* flex-direction: column; */
}

.mini-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    margin: 2em;
}

/* hide arrow on numbers input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}